<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="about">
  <div>
    {{ logInfo }}
  </div>

        <ion-buttons end>
            <button (click)="create('Nic', 'Raboy', 'asd123')">
                <ion-icon name="add"></ion-icon>
            </button>
            <button (click)="remove()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>

      <ion-list>
         <ion-item *ngFor="let person of itemList">
             {{person.firstname}} {{person.lastname}} {{person.token}}
         </ion-item> 
      </ion-list> 
</ion-content>
